* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#idle_inhibitor, #clock, #battery, #cpu, #memory, #temperature, #network, #mpd, #pulseaudio {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 2px 12px;
    border-radius: 80px;
}
